/* HEADER*/

header #logo{ 

 text-align: center; margin-bottom: 0%; 
 width: 260px; margin-bottom: 0%; margin-top: 0px; padding-bottom: 5px;
}

#alinha{
    text-align: center;
}

header #logo #LOGO{
width: 10;
}


*{
    margin: 0px;
    border:0px;
}

#soma{
display: none;
  
}


/* end HEADER*/





/* nav*/








#btnPric{
    color: #ffbc0b;; cursor: pointer;
    padding: 10px;
    
}

#DropBtn{
    position: relative;;
    display: inline-block;
    background-color: #32758b;
    border-radius: 12%;
}

#DropBtn:hover #dropdownContent  {
    background-color: #89b1be;
   display:block;
   cursor: pointer;
    }

#dropdownContent {
    display: none; /* Inicia escondida */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
#dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  }


  #dropdownContent a:hover {
    background-color: #ddd;
  }

/* end nav*/




/* MAIN*/

main h1{
    color:#ffbc0b;;
text-decoration:underline;
text-decoration-color:#89b1be ;
text-align: center;
;;}


.container {
      display: flex;
    }

    .box {
      width: 50%;
      height: 200px;
      padding: 20px;
      box-sizing: border-box;
    }

    .left {
      background-color: #ffbc0b;;
    }

    .right {
      background-color: #361f65;
      color: white;
    }
/* end MAIN*/



section #escreve{
    text-align: center;
}




/* footer*/

footer{
    background-color: #89b1be;
    color: #ffbc0b;;
    padding: 100px; 
    margin-top: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif ;

}



/* end footer*/

#Enviar{
    cursor: pointer;
    text-align: center;
}
