.user img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 20px;
}
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
     font-family: "Share Tech", sans-serif;
}
body{
    min-height: 100vb;
    display: flex;
    background-color: #d8d8d8;
}
#barraLateral{
    display: flex;  
    flex-direction: column;
   justify-content: space-between;

   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   
   padding: 12px;
background-color: #361f65;
 color: white;


}



#barraLateralContent{
    margin: 8px;

}

nav a{

   color: white;
   text-decoration: none;

}
nav li{
   list-style-type: none;
   margin-bottom: 16px;
  font-size:15px;
}

.logout {
justify-content:space-between;
flex-direction: column;
 justify-content: end;
 cursor: pointer;
}



 
nav:hover span{
 color: white;
  width: auto;
width: 120px;
  opacity: 1;
  transition: width 0.5s ease, color 0.3s ease, opacity 0.3s ease;

 
}

li a {
    display: flex;
  align-items: center; /* Alinha o ícone verticalmente com o texto */
  gap: 8px; /* Espaço entre ícone e texto */
  margin: 15px;
}
li{
    font-size: 22px;
   padding: 10px;
    border-radius: 10px;
     transition: background-color 0.15s ease, color 0.3s ease;
     cursor: pointer;
}
li:hover {
background-color: #ffbc0b;

}
li:hover #ativo{
background-color: #361f65;

}

span{
 width: 0px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;

  display: inline-block;
  transition: width 0.5s ease, color 0.3s ease, opacity 0.3s ease;
}
.separaLogo{
    margin-top: 12px;
}


 main{
 flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

main h1{
    font-size: 60px;
}

#nome{
    text-align: center;
}
#segura:hover{

    background-color: #ffbc0b;
     cursor: pointer;
}
#segura{
    font-size: 22px;
   padding: 10px;
    border-radius: 10px;
     font-size:15px;
     margin: 15px;
     cursor: pointer;
     transition: background-color 0.15s ease, color 0.3s ease;
}


#ativo{
background-color: #ffbc0b;    
}
.selected{
    background-color:#dda818;  ;
}