header {
text-align: center;
background-color: #361f65;;
}
header img{
text-align: center; margin-bottom: 0%; 
 width: 260px; margin-bottom: 0%; margin-top: 0px; padding-bottom: 5px;
 
}
*{
    margin: 0px;
    box-sizing: border-box;
}
.separa{
    display: flex;
    background-color:#ffbc0b;
    
    
    padding: 12px;
    color:  white
    ;
}

.separa p {
    margin-right: 10px;
background-color: #361f65;
padding: 5px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
user-select: none;
border: 1px solid black;
}


.separa p:hover{
background-color: #ffbc0b;
border: 1px solid black;

}

main{

    display: flex;
    flex-direction: column;
  align-items: center;
}

#quatidade{
    display: flex;
    text-align: center;
    flex-direction: row;
    overflow-x:auto;
    
 
  width: 1000px;
 

}

.macarrao{
    display: flex;
  flex-direction:column;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);  
   border-radius: 10px;
   min-height: 100px;
   margin: 20px;
   transition: background-color 0.3s ;
   justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    transition: 0.5s;
   cursor: pointer;
   max-width: 150px;
   min-width: 150px;
   max-height: 250px;
   min-height: 230px;
}

.macarrao:hover{
color: white;
   background-color: #361f65;
 
}
.macarrao img{

    width: 100px;
}

.abaixo{

    margin-top: 40px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
*{ 
font-family: "Share Tech", sans-serif;
}

#container{
   margin-top: 30px;
    display: flex;
   justify-content:space-around;
text-align: center;

}

#container img{
 width: 50px;
 margin: 20px;
}
#container a {
text-decoration: none;
color: white;

}

#container li {
    list-style-type: none;
}


footer{
    background-color: #361f65;
    display: flex;
    flex-direction: column;
    color: white;
   
}

.direitos{
    text-align: center;
    color: white;
    
}

.direitos img{
    width: 200px;
}

.arrumar{
    display: flex;
    flex-direction: column;

}

.arrumar a{
    margin-top: 20px;
    
}
#quantidado{
    display: flex;
    flex-direction: row;
    text-align: center;
}


#masdasd{
display: flex;
flex-direction: column;
align-items: center;
 min-height: 400px;
 justify-content: center;
}

.confirmar{
    
   display: flex;
   flex-direction: row;
   cursor: pointer;
   user-select: none;

}
.confirmar p {

    margin: 10px;
   border-radius: 5px;
    padding: 8px;
  
}

.confirmar p:last-child{
 background-color: #361f65;
 color: white;
    margin-left: 20px;
    transition: 0.3s;
    border: solid 1px black;
}

.confirmar p:last-child:hover{
background-color: white;
color: black;

}
.confirmar p:first-child{
color: black;
background-color: #ffbc0b;
    margin-right: 20px;
     transition: 0.3s;
     border: solid 1px black;
}

.confirmar p:first-child:hover{
    background-color: white;
}
#corpo{
    text-align: center;
}