 body {
      font-family: sans-serif;
   
      background-color: #d8d8d8;
      overflow-y:unset
    }
 body::-webkit-scrollbar {
  display: none;
} 

    
    canvas {
      width: 80%;
      margin: 40px auto;
    }

    #mainvendas{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #graficoVendas {
        position: absolute;
 max-height: 60%;
;
}

h1{
    margin-top: 10px;
}
  .btn{
    background-color: #361f65;
    padding: 6px;
    color: white;
    border-radius: 6px;
    cursor:pointer;
  }

  .enviarValor{
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
   align-items: center;
  justify-content: center;
  margin-top: 40px;
  
  }
  #iptValor{
    padding: 5px;
    max-width: 100%;
  }
  .enviarValor .btn{
    max-width: 100%;
  }
  .btn:active{
    background-color: #ffbc0b;
    color: black;
  animation: trocar 0.1s  forwards;
  }
  .btn:hover{
    background-color: #2e0b75;
  }

  @keyframes
  trocar{

    from{
    padding: 6px;
    }
    to{
     padding: 8px;
    }
  }


  .box{
    border-radius: 6px;
  box-shadow: 0px 4px 50px  #361f65 ;
   max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;

   transition: 0.3s ease;
  }

   .box:hover{
    box-shadow: 0px 4px 20px  #ffbc0b; ;
   }


.alinharGraficos{
  display: flex;
  flex-direction: row;
  gap: 30px
  ;
  margin-top: 30px;
}

.grafico{
  max-width: 100%;
}

.separaLogo{
  margin-top: 30px;
}
.graficoCanvas{
  width: 900px;
}